html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#item-desc {
  display: none;
}
#item-card:hover #item-desc {
  display: block;
}
#item-card:hover #item-content {
  display: none;
  flex-shrink: 1;
}
